* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Helvetica, Arial, sans-serif;
  background-color: #181818;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  color: #fff;
}

.nav-wrapper {
  height: 60px;
}

#navbar {
  width: 100%;
  height: 60px;
  background-color: #212121;
  position: fixed;
  z-index: 2;
  box-shadow: 0 4px 16px rgba(0,0,0, 0.25);
}

.navbar-content {
  height: 100%;
  margin: 0 auto;
  padding: 0 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

}

.navbar-menu, .register-menu {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: 'PS Commons Bold', sans-serif;
}

nav {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.navbar-menu a, .register-menu a {
  display: flex;
  align-items: center;
  padding: 0 25px;
  text-decoration: none;
}

nav a:hover{
  color: rgb(253, 12, 154);
  /*background: linear-gradient(100.37deg, rgb(236, 0, 139) 0%, rgb(241, 90, 34) 100%);*/
}

#register-link {
  border: 1px solid #fff;
  border-radius: 50px;
  margin: 10px 0px;
}

#register-link:hover {
  border: 1px solid rgb(253, 12, 154);
}

.main {
  width: 100%;
  height: fit-content;
  /*min-height: 90vh;*/
}


.main-section {
  margin: 0 auto;
  padding: 0 80px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.main-section-logos {
  width: fit-content;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  position: relative;
  width: 100%;
  height: 750px;
  /*overflow: hidden;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos h2 {
  position: relative;
  color: #fff;
  font-size: 12em;
}

.logos img {
  position: absolute;
  width: 200px;
  height: 210px;
  object-fit: cover;
}

#ang {
  top: 80px;
  left: -80px;
}

#js {
  top: 400px;
  left: -30px;
}

#pyt {
  top: 420px;
  left: 790px;
  width: 210px;
}

#vue {
  top: 130px;
  left: 790px;
  width: 245px;
}

#rct {
  top: 30px;
  left: 390px;
}

#ruby {
  top: 470px;
  left: 350px;
}


footer {
  width: 100%;
  height: 200px;
  background-color: #212121;
}

.footer-content {
  height: 100%;
  margin: 0 auto;
  padding: 50px 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.footer-content > div {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
}

.privacy-and-terms h4:hover {
cursor: pointer;
}

.privacy-and-terms h4:nth-child(2) {
  margin-top: 25px;
}

.subscribe-form {
  margin-top: 25px;
}


#subscribe-input {
  padding: 15px;
  border: 1px solid #9b9b9b;
  background-color: #212121;
  text-transform: uppercase;
}

#subscribe-btn {
  padding: 15px 25px;
  margin-left: 25px;
  color: #fff;
  background-color: rgb(255, 50, 167);
  border: 0;
  text-transform: uppercase;
  transition: all .1s ease;
}

#subscribe-btn:hover {
  background-color: rgb(253, 12, 154);
  cursor: pointer
}

div.contact-us-container {
  flex-flow: row nowrap;
  justify-content: space-between;
}

.brand-icons {
  margin-top: 25px;
  width: 100%;
  font-size: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.brand-icons a:hover {
  color: rgb(253, 12, 154);
}

.follow-us {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
}

.contact-us {
  display: flex;
  flex-flow: column nowrap;
}

.contact-us h5:nth-child(2) {
  margin-top: 25px;
}

.contact-us h5:nth-child(2):hover {
  cursor: pointer;
}

.courses-container {
  width: 100%;
  height: 100%;
  padding: 50px 150px;
}

.course {
  height: 300px;
  margin-bottom: 20px;
  background-color: #212121;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
  border-style: solid;
  border-width: 0 0 3px 0;
  border-image: linear-gradient(to right, #F05A28,#EC008C,#F05A28) 1;
  position: relative;
}


.course-header {
  background-color: #0e0d0d;
  padding: 25px 50px;
}

.course-header h4 {
  color: #fff;
  font-size: 22px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}



.sort-bar {
  width: 100%;
  height: 50px;
  background-color: #212121;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.sort-label {
  color: #bdb9b9;
  font-size: 14px;
}
input[type=checkbox] {
  margin-right: 10px;
}

input[type=checkbox]:checked {
  outline: 2px solid #F05A28;
}

.course-description {
  width: 100%;
  height: 100px;
  padding: 25px 50px;
  font-size: 15px;
  color: #fff;
}

.course-additional-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #a8a7a7;
  padding: 25px 50px;
}

.floating-up-div {
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 0;
  transition: all .2s linear;
}

.floating-up-div a {
  display: none;
}

.floating-up-div:hover {
  height: 35px;
  display: flex;
  align-items: stretch;
  background: linear-gradient(to right, #F05A28,#EC008C,#F05A28);
}

.floating-up-div:hover a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-weight: bolder;
  text-align: center;
  padding: 8px 0;
}

.login-register-form-wrapper {
  height: 100vh;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  height: 500px;
  width: 400px;
  background-color: #212121;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 30px;
}

.login-form input {
  font-size: 16px;
  color: #fff;
  background-color: #212121;
  outline: none;
  padding: 25px 30px 20px;
  margin: 0 25px;
  border-width: 0 0 3px 0;
  border-color: #767676;
}

.login-form input:focus {
  border-image: linear-gradient(to right, #F05A28,#EC008C,#F05A28) 1;
}

.login-form button {
  width: 55%;
  padding: 15px 25px;
  margin: 60px auto;
  border-radius: 2px;
  background-color: rgba(255, 50, 167, 0.94);
  border: none;
  transition: all .1s ease;
  font-size: 16px;
  color: #c7c3c3;
}

.login-form button:hover {
  background-color: rgb(199, 5, 119);
  color: #fff;
}

.login-alts {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 15px;
  color: #767676;
}

.login-alts span:hover {
  color: #c6c6c6;
}